<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<title>Window Agent Home page</title>
<link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>
<div class="container-fluid">
  <div class="row">
    <div class="home_bg overlay">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 padding0 hidden-md1">
            <a href="#" class="btn btn-primary goback-btn"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Go Back</a>
            <a href="#" class="btn btn-primary start-btn"><i class="fa fa-refresh" aria-hidden="true"></i> Start over</a>
          </div>
          <div class="col-sm-4 feature-title hidden-md1">
            <h3>Featured Listings</h3>
          </div>
          <div class="col-sm-4 text-right pull-right">
            <div class="top-text-right">Powered by WindowAgent</div>
            <div class="hidden-md1"><img src="/assets/logo_small.png" alt="" title="" class="logo-small" /></div>
          </div>
        </div>
      </div>  
      
      <div class="container-fluid visible-md1 visible-sm visible-xs">
        <div class="navbar-header"> <a href="index.html" class="navbar-brand"><img src="/assets/logo.png" alt="" title="" class="img-responsive"></a></div>
      </div>
      
      <div id="myCarousel" class="carousel slide listing-main hidden-md1" data-ride="carousel"> 
        <!--<ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>-->
        
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/1.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading"> 2025 N Cross Creek SE, Unit 51 Grand Rapids, MI 49508</h4>
                    </a>
                    <div class="list-price"><strong>$229,900</strong> | MLS #17003607</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>2</strong> Beds</li>
                      <li>|</li>
                      <li><strong>3</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>2,098</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/2.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading"> 2001 N Cross Creek SE, Unit 58 Grand Rapids, MI 49508</h4>
                    </a>
                    <div class="list-price"><strong>$239,900</strong> | MLS #17011716</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>2</strong> Beds</li>
                      <li>|</li>
                      <li><strong>3</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>2,297</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/3.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading"> 5695 Watermark Court SE Grand Rapids, MI 49546</h4>
                    </a>
                    <div class="list-price"><strong>$1,300,000</strong> | MLS #17011137</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>3</strong> Beds</li>
                      <li>|</li>
                      <li><strong>5</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>6,166</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/4.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading">13784 East Harmony Court Sparta, MI 49345</h4>
                    </a>
                    <div class="list-price"><strong>$219,900</strong> | MLS #17011023</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>3</strong> Beds</li>
                      <li>|</li>
                      <li><strong>3</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>2,070</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/5.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading">4414 Oak River Drive NE, Unit 90 Grand Rapids, MI 49525</h4>
                    </a>
                    <div class="list-price"><strong>$55,000</strong> | MLS #12011895</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>0.5</strong> Acres</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/6.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading">9411 Cottage Park Drive Greenvile, MI 48838</h4>
                    </a>
                    <div class="list-price"><strong>$34,900</strong> | MLS #15033986</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>1.52</strong> Acres</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/7.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading">1855 Griggs St SE Grand Rapids, MI 49506</h4>
                    </a>
                    <div class="list-price"><strong>$194,900</strong> | MLS #17010622</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>2</strong> Beds</li>
                      <li>|</li>
                      <li><strong>3</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>2,098</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/8.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading">113 Millpoint Drive, Unit 13 Spring Lake, MI 49456</h4>
                    </a>
                    <div class="list-price"><strong>$144,900</strong> | MLS #17010032</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>1</strong> Beds</li>
                      <li>|</li>
                      <li><strong>1</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>698</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/9.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading">6744 Shebreen Court, Unit 24 Caledonia, MI 49316</h4>
                    </a>
                    <div class="list-price"><strong>$189,900</strong> | MLS #17005087</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>1</strong> Beds</li>
                      <li>|</li>
                      <li><strong>2</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>1,268</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/10.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading">3901 Bridgestone Drive Grand Rapids, MI 49546</h4>
                    </a>
                    <div class="list-price"><strong>$498,000</strong> | MLS #17002709</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>4</strong> Beds</li>
                      <li>|</li>
                      <li><strong>5</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>4,185</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/11.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading">2815 Gulliford Drive Lowell, MI 49331</h4>
                    </a>
                    <div class="list-price"><strong>$237,000</strong> | MLS #16060356</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>3</strong> Beds</li>
                      <li>|</li>
                      <li><strong>3</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>1,956</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/12.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading">6637 Gran Via Drive Rockford, MI 49341</h4>
                    </a>
                    <div class="list-price"><strong>$249,900</strong> | MLS #16051761</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>4</strong> Beds</li>
                      <li>|</li>
                      <li><strong>4</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>2,655</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="item">
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/1.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading"> 2025 N Cross Creek SE, Unit 51 Grand Rapids, MI 49508</h4>
                    </a>
                    <div class="list-price"><strong>$229,900</strong> | MLS #17003607</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>2</strong> Beds</li>
                      <li>|</li>
                      <li><strong>3</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>2,098</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/2.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading"> 2001 N Cross Creek SE, Unit 58 Grand Rapids, MI 49508</h4>
                    </a>
                    <div class="list-price"><strong>$239,900</strong> | MLS #17011716</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>2</strong> Beds</li>
                      <li>|</li>
                      <li><strong>3</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>2,297</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/3.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading"> 5695 Watermark Court SE Grand Rapids, MI 49546</h4>
                    </a>
                    <div class="list-price"><strong>$1,300,000</strong> | MLS #17011137</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>3</strong> Beds</li>
                      <li>|</li>
                      <li><strong>5</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>6,166</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/4.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading">13784 East Harmony Court Sparta, MI 49345</h4>
                    </a>
                    <div class="list-price"><strong>$219,900</strong> | MLS #17011023</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>3</strong> Beds</li>
                      <li>|</li>
                      <li><strong>3</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>2,070</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/5.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading">4414 Oak River Drive NE, Unit 90 Grand Rapids, MI 49525</h4>
                    </a>
                    <div class="list-price"><strong>$55,000</strong> | MLS #12011895</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>0.5</strong> Acres</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/6.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading">9411 Cottage Park Drive Greenvile, MI 48838</h4>
                    </a>
                    <div class="list-price"><strong>$34,900</strong> | MLS #15033986</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>1.52</strong> Acres</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/7.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading">1855 Griggs St SE Grand Rapids, MI 49506</h4>
                    </a>
                    <div class="list-price"><strong>$194,900</strong> | MLS #17010622</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>2</strong> Beds</li>
                      <li>|</li>
                      <li><strong>3</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>2,098</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/8.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading">113 Millpoint Drive, Unit 13 Spring Lake, MI 49456</h4>
                    </a>
                    <div class="list-price"><strong>$144,900</strong> | MLS #17010032</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>1</strong> Beds</li>
                      <li>|</li>
                      <li><strong>1</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>698</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/9.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading">6744 Shebreen Court, Unit 24 Caledonia, MI 49316</h4>
                    </a>
                    <div class="list-price"><strong>$189,900</strong> | MLS #17005087</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>1</strong> Beds</li>
                      <li>|</li>
                      <li><strong>2</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>1,268</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/10.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading">3901 Bridgestone Drive Grand Rapids, MI 49546</h4>
                    </a>
                    <div class="list-price"><strong>$498,000</strong> | MLS #17002709</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>4</strong> Beds</li>
                      <li>|</li>
                      <li><strong>5</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>4,185</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/11.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading">2815 Gulliford Drive Lowell, MI 49331</h4>
                    </a>
                    <div class="list-price"><strong>$237,000</strong> | MLS #16060356</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>3</strong> Beds</li>
                      <li>|</li>
                      <li><strong>3</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>1,956</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="property-listing">
                <div class="media">
                  <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/12.jpg"></a>
                  <div class="media-body">
                    <a href="#" target="_parent">
                      <h4 class="media-heading">6637 Gran Via Drive Rockford, MI 49341</h4>
                    </a>
                    <div class="list-price"><strong>$249,900</strong> | MLS #16051761</div>
                    <span>Listed by:  Colwell Banker AJS (Casc)</span>
                    <ul class="list-inline">
                      <li><strong>4</strong> Beds</li>
                      <li>|</li>
                      <li><strong>4</strong> Total Baths</li>
                      <li>|</li>
                      <li><strong>2,655</strong> Sq. Ft.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span></a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span></a>
      </div>
      
      <div class="hidden visible-md1 visible-sm visible-xs">
        <div class="md-heading text-center">
          <h2>Search For Your Dream Home Here</h2>
        </div>
        
        <div class="md-top-menu-bg">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-4 padding0 pull-left1">
                <a href="#" class="btn btn-primary goback-btn"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Go Back</a>
              </div>
              <div class="col-sm-4 padding0 pull-right">
                <a href="#" class="btn btn-primary start-btn pull-right"><i class="fa fa-refresh" aria-hidden="true"></i> Start over</a>
              </div>
              <div class="col-sm-4 feature-title">
                <h3>Featured Listings</h3>
              </div>
            </div>
          </div>  
          
          <div id="myCarousel2" class="carousel slide listing-main" data-ride="carousel"> 
            <!--<ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>-->
            
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/1.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading"> 2025 N Cross Creek SE, Unit 51 Grand Rapids, MI 49508</h4>
                        </a>
                        <div class="list-price"><strong>$229,900</strong> | MLS #17003607</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>2</strong> Beds</li>
                          <li>|</li>
                          <li><strong>3</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>2,098</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/2.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading"> 2001 N Cross Creek SE, Unit 58 Grand Rapids, MI 49508</h4>
                        </a>
                        <div class="list-price"><strong>$239,900</strong> | MLS #17011716</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>2</strong> Beds</li>
                          <li>|</li>
                          <li><strong>3</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>2,297</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/3.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading"> 5695 Watermark Court SE Grand Rapids, MI 49546</h4>
                        </a>
                        <div class="list-price"><strong>$1,300,000</strong> | MLS #17011137</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>3</strong> Beds</li>
                          <li>|</li>
                          <li><strong>5</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>6,166</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/4.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading">13784 East Harmony Court Sparta, MI 49345</h4>
                        </a>
                        <div class="list-price"><strong>$219,900</strong> | MLS #17011023</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>3</strong> Beds</li>
                          <li>|</li>
                          <li><strong>3</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>2,070</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/5.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading">4414 Oak River Drive NE, Unit 90 Grand Rapids, MI 49525</h4>
                        </a>
                        <div class="list-price"><strong>$55,000</strong> | MLS #12011895</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>0.5</strong> Acres</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/6.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading">9411 Cottage Park Drive Greenvile, MI 48838</h4>
                        </a>
                        <div class="list-price"><strong>$34,900</strong> | MLS #15033986</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>1.52</strong> Acres</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/7.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading">1855 Griggs St SE Grand Rapids, MI 49506</h4>
                        </a>
                        <div class="list-price"><strong>$194,900</strong> | MLS #17010622</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>2</strong> Beds</li>
                          <li>|</li>
                          <li><strong>3</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>2,098</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/8.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading">113 Millpoint Drive, Unit 13 Spring Lake, MI 49456</h4>
                        </a>
                        <div class="list-price"><strong>$144,900</strong> | MLS #17010032</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>1</strong> Beds</li>
                          <li>|</li>
                          <li><strong>1</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>698</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/9.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading">6744 Shebreen Court, Unit 24 Caledonia, MI 49316</h4>
                        </a>
                        <div class="list-price"><strong>$189,900</strong> | MLS #17005087</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>1</strong> Beds</li>
                          <li>|</li>
                          <li><strong>2</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>1,268</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/10.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading">3901 Bridgestone Drive Grand Rapids, MI 49546</h4>
                        </a>
                        <div class="list-price"><strong>$498,000</strong> | MLS #17002709</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>4</strong> Beds</li>
                          <li>|</li>
                          <li><strong>5</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>4,185</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/11.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading">2815 Gulliford Drive Lowell, MI 49331</h4>
                        </a>
                        <div class="list-price"><strong>$237,000</strong> | MLS #16060356</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>3</strong> Beds</li>
                          <li>|</li>
                          <li><strong>3</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>1,956</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/12.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading">6637 Gran Via Drive Rockford, MI 49341</h4>
                        </a>
                        <div class="list-price"><strong>$249,900</strong> | MLS #16051761</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>4</strong> Beds</li>
                          <li>|</li>
                          <li><strong>4</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>2,655</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="item">
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/1.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading"> 2025 N Cross Creek SE, Unit 51 Grand Rapids, MI 49508</h4>
                        </a>
                        <div class="list-price"><strong>$229,900</strong> | MLS #17003607</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>2</strong> Beds</li>
                          <li>|</li>
                          <li><strong>3</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>2,098</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/2.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading"> 2001 N Cross Creek SE, Unit 58 Grand Rapids, MI 49508</h4>
                        </a>
                        <div class="list-price"><strong>$239,900</strong> | MLS #17011716</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>2</strong> Beds</li>
                          <li>|</li>
                          <li><strong>3</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>2,297</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/3.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading"> 5695 Watermark Court SE Grand Rapids, MI 49546</h4>
                        </a>
                        <div class="list-price"><strong>$1,300,000</strong> | MLS #17011137</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>3</strong> Beds</li>
                          <li>|</li>
                          <li><strong>5</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>6,166</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/4.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading">13784 East Harmony Court Sparta, MI 49345</h4>
                        </a>
                        <div class="list-price"><strong>$219,900</strong> | MLS #17011023</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>3</strong> Beds</li>
                          <li>|</li>
                          <li><strong>3</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>2,070</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/5.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading">4414 Oak River Drive NE, Unit 90 Grand Rapids, MI 49525</h4>
                        </a>
                        <div class="list-price"><strong>$55,000</strong> | MLS #12011895</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>0.5</strong> Acres</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/6.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading">9411 Cottage Park Drive Greenvile, MI 48838</h4>
                        </a>
                        <div class="list-price"><strong>$34,900</strong> | MLS #15033986</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>1.52</strong> Acres</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/7.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading">1855 Griggs St SE Grand Rapids, MI 49506</h4>
                        </a>
                        <div class="list-price"><strong>$194,900</strong> | MLS #17010622</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>2</strong> Beds</li>
                          <li>|</li>
                          <li><strong>3</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>2,098</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/8.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading">113 Millpoint Drive, Unit 13 Spring Lake, MI 49456</h4>
                        </a>
                        <div class="list-price"><strong>$144,900</strong> | MLS #17010032</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>1</strong> Beds</li>
                          <li>|</li>
                          <li><strong>1</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>698</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/9.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading">6744 Shebreen Court, Unit 24 Caledonia, MI 49316</h4>
                        </a>
                        <div class="list-price"><strong>$189,900</strong> | MLS #17005087</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>1</strong> Beds</li>
                          <li>|</li>
                          <li><strong>2</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>1,268</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/10.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading">3901 Bridgestone Drive Grand Rapids, MI 49546</h4>
                        </a>
                        <div class="list-price"><strong>$498,000</strong> | MLS #17002709</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>4</strong> Beds</li>
                          <li>|</li>
                          <li><strong>5</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>4,185</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/11.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading">2815 Gulliford Drive Lowell, MI 49331</h4>
                        </a>
                        <div class="list-price"><strong>$237,000</strong> | MLS #16060356</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>3</strong> Beds</li>
                          <li>|</li>
                          <li><strong>3</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>1,956</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="property-listing">
                    <div class="media">
                      <a class="col-md-5 padding0" href="#" target="_parent"> <img alt="image" class="img-responsive" src="/assets/12.jpg"></a>
                      <div class="media-body">
                        <a href="#" target="_parent">
                          <h4 class="media-heading">6637 Gran Via Drive Rockford, MI 49341</h4>
                        </a>
                        <div class="list-price"><strong>$249,900</strong> | MLS #16051761</div>
                        <span>Listed by:  Colwell Banker AJS (Casc)</span>
                        <ul class="list-inline">
                          <li><strong>4</strong> Beds</li>
                          <li>|</li>
                          <li><strong>4</strong> Total Baths</li>
                          <li>|</li>
                          <li><strong>2,655</strong> Sq. Ft.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span></a>
            <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span></a>
      	  </div>
        </div>
        
        <div class="md-heading text-center">
          <div class="container">
            <h2>Client Company Slogan or Text Will Go Here</h2>
            <p>Line 2 grabs input text from backend (phone/contact)</br>
              <a href="">www.linethreefrombackend.com</a></p>
          </div>
        </div>
		<div class="bottom-images"><img src="/assets/bottom-banner.jpg" alt="" class="img-responsive"></div>
      </div>
        
      <div class="bottom-bg">
        <div class="container-fluid">
          <div class="white-background text-center border-height"></div>
          <ul class="bottom-menu">
            <li class="rate-section ">
              <div class="rate-section-inner active"><a href="">Featured</br>
                <span>Listings</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Search</br>
                <span>the MLS</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Custom</br>
                <span>Search</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Interactive</br>
                <span>Map</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Mortgage</br>
                <span>Calculator</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Popular</br>
                <span>Searches</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Sell</br>
                <span>Your Home</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">About</br>
                <span>Us</span></a></div>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>

</body>
</html>