<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<title>Window Agent Home page</title>
<link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>
<div class="container-fluid">
  <div class="row">
    <div class="home_bg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 padding0 hidden-md1 bg-color">
            <a href="#" class="btn btn-primary goback-btn"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Go Back</a>
            <a href="#" class="btn btn-primary start-btn"><i class="fa fa-refresh" aria-hidden="true"></i> Start over</a>
          </div>
          
          <div class="col-sm-4 text-right pull-right hidden visible-md1 visible-sm visible-xs">
            <div class="top-text-right">Powered by WindowAgent</div>
          </div>
        </div>
      </div>  
      
      <div class="container-fluid visible-md1 visible-sm visible-xs">
        <div class="navbar-header"> <a href="index.html" class="navbar-brand"><img src="/assets/logo.png" alt="" title="" class="img-responsive"></a> </div>
      </div>
      
      <div class="container-fluid hidden-md1">
        <div class="row">
          <div class="col-md-12 padding0">
            <div class="map-area">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2924.0845291196297!2d-85.64184068486348!3d42.87105997915589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8819b3772c31c43f%3A0x56e5608ee9bf3bf!2s51st+St+SE%2C+Kentwood%2C+MI+49508%2C+USA!5e0!3m2!1sen!2sin!4v1492169382114" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
          
          <div class="search-region">
            <div class="col-sm-12 text-right pull-right">
              <div class="top-text-right">Powered by WindowAgent</div>
              <div class="hidden-md1"><img src="/assets/logo_small.png" alt="" title="" class="logo-small" /></div>
            </div>
            <div class="region-area">
              <h4>Search Regions</h4>
              <a href="#" class="btn btn-default full-width-btn">Featured Listings</a>
              <a href="#" class="btn btn-default">Franklin < $500,000</a>
              <a href="#" class="btn btn-default">Franklin $500,000 - $1M</a>
              <a href="#" class="btn btn-default">Franklin > $1M</a>
              <a href="#" class="btn btn-default">Brentwood < $500,000</a>
              <a href="#" class="btn btn-default">Brentwood $500,000 - $1M</a>
              <a href="#" class="btn btn-default">Brentwood > $1M</a>
              <a href="#" class="btn btn-default">Spring Hill</a>
              <a href="#" class="btn btn-default">New Construction</a>
              <a href="#" class="btn btn-default">Condos</a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="hidden visible-md1 visible-sm visible-xs">
        <div class="md-heading text-center">
          <h2>Search For Your Dream Home Here</h2>
        </div>
        
        <div class="md-top-menu-bg">
          <div class="container-fluid bg-color">
            <div class="row">
              <div class="col-sm-4 padding0 btn-hover pull-left1">
                <a href="#" class="btn btn-primary goback-btn"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Go Back</a>
              </div>
              <div class="col-sm-4 padding0 pull-right btn-hover">
                <a href="#" class="btn btn-primary start-btn pull-right"><i class="fa fa-refresh" aria-hidden="true"></i> Start over</a>
              </div>
            </div>
          </div>
          
          <div class="container-fluid search-position">
            <div class="row">
              <div class="col-md-12 padding0">
                <div class="map-area">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2924.0845291196297!2d-85.64184068486348!3d42.87105997915589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8819b3772c31c43f%3A0x56e5608ee9bf3bf!2s51st+St+SE%2C+Kentwood%2C+MI+49508%2C+USA!5e0!3m2!1sen!2sin!4v1492169382114" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
              </div>
              
              <div class="search-region">
                <div class="col-sm-12 text-right pull-right hidden-md1">
                  <div class="top-text-right">Powered by WindowAgent</div>
                  <div class="hidden-md1"><img src="/assets/logo_small.png" alt="" title="" class="logo-small" /></div>
                </div>
                <div class="region-area">
                  <h4>Search Regions</h4>
                  <a href="#" class="btn btn-default full-width-btn">Featured Listings</a>
                  <a href="#" class="btn btn-default">Franklin < $500,000</a>
                  <a href="#" class="btn btn-default">Franklin $500,000 - $1M</a>
                  <a href="#" class="btn btn-default">Franklin > $1M</a>
                  <a href="#" class="btn btn-default">Brentwood < $500,000</a>
                  <a href="#" class="btn btn-default">Brentwood $500,000 - $1M</a>
                  <a href="#" class="btn btn-default">Brentwood > $1M</a>
                  <a href="#" class="btn btn-default">Spring Hill</a>
                  <a href="#" class="btn btn-default">New Construction</a>
                  <a href="#" class="btn btn-default">Condos</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="md-heading text-center">
          <div class="container">
            <h2>Client Company Slogan or Text Will Go Here</h2>
            <p>Line 2 grabs input text from backend (phone/contact)</br>
              <a href="">www.linethreefrombackend.com</a></p>
          </div>
        </div>
		<div class="bottom-images"><img src="/assets/bottom-banner.jpg" alt="" class="img-responsive"> </div>
      </div>
        
      <div class="bottom-bg">
        <div class="container-fluid">
          <div class="white-background text-center border-height"></div>
          <ul class="bottom-menu">
            <li class="rate-section ">
              <div class="rate-section-inner"><a href="">Featured</br>
                <span>Listings</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Search</br>
                <span>the MLS</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Custom</br>
                <span>Search</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner active"><a href="">Interactive</br>
                <span>Map</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Mortgage</br>
                <span>Calculator</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Popular</br>
                <span>Searches</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Sell</br>
                <span>Your Home</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">About</br>
                <span>Us</span></a></div>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>

</body>
</html>