<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<title>Window Agent Home page</title>
<link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>
<div class="container-fluid">
  <div class="row">
    <div class="home_bg overlay">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 padding0 hidden-md1">
            <a href="#" class="btn btn-primary goback-btn"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Go Back</a>
            <a href="#" class="btn btn-primary start-btn"><i class="fa fa-refresh" aria-hidden="true"></i> Start over</a>
          </div>
          <div class="col-sm-4 text-right pull-right">
            <div class="top-text-right">Powered by WindowAgent</div>
            <div class="hidden-md1"><img src="/assets/logo_small.png" alt="" title="" class="logo-small" /></div>
          </div>
        </div>
      </div>  
      
      <div class="container-fluid visible-md1 visible-sm visible-xs">
        <div class="navbar-header"> <a href="index.html" class="navbar-brand"><img src="images/logo.png" alt="" title="" class="img-responsive"></a> </div>
      </div>
      
      <div class="container hidden-md1">
        <div class="row">
          <div class="col-md-6 padding0">
            <div class="mortgage-left text-center">
              <div class="mortgage-logo"><img src="/assets/logo_example.png" alt="" title="" /></div>
              <label>Mortgage calctulator brought to you by:</label>
              <h4>Example Financial Group</h4>
              <div class="agent-area">
                <div class="agent-left"><img src="/assets/agent.png" alt="" title="" /></div>
                <div class="agent-right">
                  <h5>Agent / Officer Name</h5>
                  <span>name@coolemail.com<br />
                  (123) 456-7890</span>
                </div>
              </div>
              <a href="#">www.FinancingWebsiteHere.com</a>
              <p>This mortgage calculator is for estimation purposes only and may<br />
              not reflect actual numbers for your mortgage.</p>
            </div>
          </div>
          <div class="col-md-6 padding0">
            <div class="mortgage-right">
              <h4>Mortgage Calculator</h4>
              <form>
                <div class="form-group">
                  <label>Cost of home</label>
                  <input type="text" class="form-control" placeholder="$   350,000">
                </div>
                <div class="form-group">
                  <label>Down payment</label>
                  <div class="full-width">
                    <input type="text" class="form-control down-input1" placeholder="20">
                    <span>%</span>
                    <input type="text" class="form-control down-input2" placeholder="$   70,000">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleSelect1">Loan term</label>
                  <select class="form-control" id="exampleSelect1">
                    <option>15-year fixed</option>
                    <option>20-year fixed</option>
                    <option>25-year fixed</option>
                    <option>30-year fixed</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Interest rate</label>
                  <input type="text" class="form-control" placeholder="3.75">
                  <span>%</span>
                </div>
                <a href="calculator-result.html" class="btn btn-default">Calculate</a>
                <label class="btm-text">*estimation purposes only</label>
              </form>
            </div>
          </div>
        </div>
      </div>
      
      <div class="hidden visible-md1 visible-sm visible-xs">
        <div class="md-heading text-center">
          <h2>Search For Your Dream Home Here</h2>
        </div>
        
        <div class="md-top-menu-bg">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-4 padding0 btn-hover pull-left1">
                <a href="#" class="btn btn-primary goback-btn"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Go Back</a>
              </div>
              <div class="col-sm-4 padding0 pull-right btn-hover">
                <a href="#" class="btn btn-primary start-btn pull-right"><i class="fa fa-refresh" aria-hidden="true"></i> Start over</a>
              </div>
            </div>
          </div>
          
          <div class="container">
            <div class="row">
              <div class="col-md-6 padding0 pad-lft-rgt-15">
                <div class="mortgage-left text-center">
                  <div class="mortgage-logo"><img src="/assets/logo_example.png" alt="" title="" /></div>
                  <label>Mortgage calctulator brought to you by:</label>
                  <h4>Example Financial Group</h4>
                  <div class="agent-area">
                    <div class="agent-left"><img src="/assets/agent.png" alt="" title="" /></div>
                    <div class="agent-right">
                      <h5>Agent / Officer Name</h5>
                      <span>name@coolemail.com<br />
                      (123) 456-7890</span>
                    </div>
                  </div>
                  <a href="#">www.FinancingWebsiteHere.com</a>
                  <p>This mortgage calculator is for estimation purposes only<br class="hidden-xs" />
                  and may not reflect actual numbers for your mortgage.</p>
                </div>
              </div>
              <div class="col-md-6 padding0 pad-lft-rgt-15">
                <div class="mortgage-right">
                  <h4>Mortgage Calculator</h4>
                  <form>
                    <div class="form-group">
                      <label>Cost of home</label>
                      <input type="text" class="form-control" placeholder="$   350,000">
                    </div>
                    <div class="form-group">
                      <label>Down payment</label>
                      <div class="full-width">
                        <input type="text" class="form-control down-input1" placeholder="20">
                        <input type="text" class="form-control down-input2" placeholder="$   70,000">
                        <span>%</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleSelect1">Loan term</label>
                      <select class="form-control" id="exampleSelect1">
                        <option>15-year fixed</option>
                        <option>20-year fixed</option>
                        <option>25-year fixed</option>
                        <option>30-year fixed</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Interest rate</label>
                      <input type="text" class="form-control" placeholder="3.75">
                      <span>%</span>
                    </div>
                    <a href="calculator-result.html" class="btn btn-default">Calculate</a>
                    <label class="btm-text">*estimation purposes only</label>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="md-heading text-center">
          <div class="container">
            <h2>Client Company Slogan or Text Will Go Here</h2>
            <p>Line 2 grabs input text from backend (phone/contact)</br>
              <a href="">www.linethreefrombackend.com</a></p>
          </div>
        </div>
		<div class="bottom-images"><img src="/assets/bottom-banner.jpg" alt="" class="img-responsive"> </div>
      </div>
        
      <div class="bottom-bg">
        <div class="container-fluid">
          <div class="white-background text-center border-height"></div>
          <ul class="bottom-menu">
            <li class="rate-section ">
              <div class="rate-section-inner"><a href="">Featured</br>
                <span>Listings</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Search</<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<title>Window Agent Home page</title>
<link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>
<div class="container-fluid">
  <div class="row">
    <div class="home_bg overlay">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 padding0 hidden-md1">
            <a href="#" class="btn btn-primary goback-btn"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Go Back</a>
            <a href="#" class="btn btn-primary start-btn"><i class="fa fa-refresh" aria-hidden="true"></i> Start over</a>
          </div>
          <div class="col-sm-4 text-right pull-right">
            <div class="top-text-right">Powered by WindowAgent</div>
            <div class="hidden-md1"><img src="/assets/logo_small.png" alt="" title="" class="logo-small" /></div>
          </div>
        </div>
      </div>  
      
      <div class="container-fluid visible-md1 visible-sm visible-xs">
        <div class="navbar-header"> <a href="index.html" class="navbar-brand"><img src="/assets/logo.png" alt="" title="" class="img-responsive"></a> </div>
      </div>
      
      <div class="container hidden-md1">
        <div class="row">
          <div class="col-md-6 padding0">
            <div class="mortgage-left text-center">
              <div class="mortgage-logo"><img src="/assets/logo_example.png" alt="" title="" /></div>
              <label>Mortgage calctulator brought to you by:</label>
              <h4>Example Financial Group</h4>
              <div class="agent-area">
                <div class="agent-left"><img src="/assets/agent.png" alt="" title="" /></div>
                <div class="agent-right">
                  <h5>Agent / Officer Name</h5>
                  <span>name@coolemail.com<br />
                  (123) 456-7890</span>
                </div>
              </div>
              <a href="#">www.FinancingWebsiteHere.com</a>
              <p>This mortgage calculator is for estimation purposes only and may<br />
              not reflect actual numbers for your mortgage.</p>
            </div>
          </div>
          <div class="col-md-6 padding0">
            <div class="mortgage-right">
              <h4>Mortgage Calculator</h4>
              <form>
                <div class="form-group">
                  <label>Cost of home</label>
                  <input type="text" class="form-control" placeholder="$   350,000">
                </div>
                <div class="form-group">
                  <label>Down payment</label>
                  <div class="full-width">
                    <input type="text" class="form-control down-input1" placeholder="20">
                    <span>%</span>
                    <input type="text" class="form-control down-input2" placeholder="$   70,000">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleSelect1">Loan term</label>
                  <select class="form-control" id="exampleSelect1">
                    <option>15-year fixed</option>
                    <option>20-year fixed</option>
                    <option>25-year fixed</option>
                    <option>30-year fixed</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Interest rate</label>
                  <input type="text" class="form-control" placeholder="3.75">
                  <span>%</span>
                </div>
                <a href="calculator-result.html" class="btn btn-default">Calculate</a>
                <label class="btm-text">*estimation purposes only</label>
              </form>
            </div>
          </div>
        </div>
      </div>
      
      <div class="hidden visible-md1 visible-sm visible-xs">
        <div class="md-heading text-center">
          <h2>Search For Your Dream Home Here</h2>
        </div>
        
        <div class="md-top-menu-bg">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-4 padding0 btn-hover pull-left1">
                <a href="#" class="btn btn-primary goback-btn"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Go Back</a>
              </div>
              <div class="col-sm-4 padding0 pull-right btn-hover">
                <a href="#" class="btn btn-primary start-btn pull-right"><i class="fa fa-refresh" aria-hidden="true"></i> Start over</a>
              </div>
            </div>
          </div>
          
          <div class="container">
            <div class="row">
              <div class="col-md-6 padding0 pad-lft-rgt-15">
                <div class="mortgage-left text-center">
                  <div class="mortgage-logo"><img src="/assets/logo_example.png" alt="" title="" /></div>
                  <label>Mortgage calctulator brought to you by:</label>
                  <h4>Example Financial Group</h4>
                  <div class="agent-area">
                    <div class="agent-left"><img src="/assets/agent.png" alt="" title="" /></div>
                    <div class="agent-right">
                      <h5>Agent / Officer Name</h5>
                      <span>name@coolemail.com<br />
                      (123) 456-7890</span>
                    </div>
                  </div>
                  <a href="#">www.FinancingWebsiteHere.com</a>
                  <p>This mortgage calculator is for estimation purposes only<br class="hidden-xs" />
                  and may not reflect actual numbers for your mortgage.</p>
                </div>
              </div>
              <div class="col-md-6 padding0 pad-lft-rgt-15">
                <div class="mortgage-right">
                  <h4>Mortgage Calculator</h4>
                  <form>
                    <div class="form-group">
                      <label>Cost of home</label>
                      <input type="text" class="form-control" placeholder="$   350,000">
                    </div>
                    <div class="form-group">
                      <label>Down payment</label>
                      <div class="full-width">
                        <input type="text" class="form-control down-input1" placeholder="20">
                        <input type="text" class="form-control down-input2" placeholder="$   70,000">
                        <span>%</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleSelect1">Loan term</label>
                      <select class="form-control" id="exampleSelect1">
                        <option>15-year fixed</option>
                        <option>20-year fixed</option>
                        <option>25-year fixed</option>
                        <option>30-year fixed</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Interest rate</label>
                      <input type="text" class="form-control" placeholder="3.75">
                      <span>%</span>
                    </div>
                    <a href="calculator-result.html" class="btn btn-default">Calculate</a>
                    <label class="btm-text">*estimation purposes only</label>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="md-heading text-center">
          <div class="container">
            <h2>Client Company Slogan or Text Will Go Here</h2>
            <p>Line 2 grabs input text from backend (phone/contact)</br>
              <a href="">www.linethreefrombackend.com</a></p>
          </div>
        </div>
    <div class="bottom-images"><img src="/assets/bottom-banner.jpg" alt="" class="img-responsive"> </div>
      </div>
        
      <div class="bottom-bg">
        <div class="container-fluid">
          <div class="white-background text-center border-height"></div>
          <ul class="bottom-menu">
            <li class="rate-section ">
              <div class="rate-section-inner"><a href="">Featured</br>
                <span>Listings</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Search</br>
                <span>the MLS</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Custom</br>
                <span>Search</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Interactive</br>
                <span>Map</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner active"><a href="">Mortgage</br>
                <span>Calculator</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Popular</br>
                <span>Searches</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Sell</br>
                <span>Your Home</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">About</br>
                <span>Us</span></a></div>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>

</body>
</html>br>
                <span>the MLS</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Custom</br>
                <span>Search</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Interactive</br>
                <span>Map</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner active"><a href="">Mortgage</br>
                <span>Calculator</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Popular</br>
                <span>Searches</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Sell</br>
                <span>Your Home</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">About</br>
                <span>Us</span></a></div>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>

</body>
</html>