<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<title>Window Agent Home page</title>
<link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>
<div class="container-fluid">
  <div class="row">
    <div class="home_bg overlay">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 padding0 hidden-md1">
            <a href="#" class="btn btn-primary goback-btn"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Go Back</a>
            <a href="#" class="btn btn-primary start-btn"><i class="fa fa-refresh" aria-hidden="true"></i> Start over</a>
          </div>
          <div class="col-sm-4 text-right pull-right">
            <div class="top-text-right">Powered by WindowAgent</div>
            <div class="hidden-md1"><img src="/assets/logo_small.png" alt="" title="" class="logo-small" /></div>
          </div>
        </div>
      </div>  
      
      <div class="container-fluid visible-md1 visible-sm visible-xs">
        <div class="navbar-header"> <a href="index.html" class="navbar-brand"><img src="/assets/logo.png" alt="" title="" class="img-responsive"></a> </div>
      </div>
      
      <div class="container hidden-md1">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="popular-search bord-area text-center">
              <h4>Popular Searches</h4>
              <p>We’ve put together a list of our most popular searches so you can easily see some of the best locations we have to offer!</p>
              <div class="popular-area">
                <a href="#" class="btn btn-default">Byron Center</a>
                <a href="#" class="btn btn-default">Forest Hills</a>
                <a href="#" class="btn btn-default">Rockford</a>
                <a href="#" class="btn btn-default">Downtown</a>
                <a href="#" class="btn btn-default">Waterfront Homes</a>
                <a href="#" class="btn btn-default">East Grand Rapids</a>
                <a href="#" class="btn btn-default">Grandville</a>
                <a href="#" class="btn btn-default">Condos</a>
                <a href="#" class="btn btn-default">New Construction</a>
                <a href="#" class="btn btn-default">Vacant Land</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="hidden visible-md1 visible-sm visible-xs">
        <div class="md-heading text-center">
          <h2>Search For Your Dream Home Here</h2>
        </div>
        
        <div class="md-top-menu-bg">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-4 padding0 btn-hover pull-left1">
                <a href="#" class="btn btn-primary goback-btn"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Go Back</a>
              </div>
              <div class="col-sm-4 padding0 pull-right btn-hover">
                <a href="#" class="btn btn-primary start-btn pull-right"><i class="fa fa-refresh" aria-hidden="true"></i> Start over</a>
              </div>
            </div>
          </div>
          
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="popular-search bord-area text-center">
                  <h4>Popular Searches</h4>
                  <p>We’ve put together a list of our most popular searches so you can easily see some of the best locations we have to offer!</p>
                  <div class="popular-area">
                    <a href="#" class="btn btn-default">Byron Center</a>
                    <a href="#" class="btn btn-default">Forest Hills</a>
                    <a href="#" class="btn btn-default">Rockford</a>
                    <a href="#" class="btn btn-default">Downtown</a>
                    <a href="#" class="btn btn-default">Waterfront Homes</a>
                    <a href="#" class="btn btn-default">East Grand Rapids</a>
                    <a href="#" class="btn btn-default">Grandville</a>
                    <a href="#" class="btn btn-default">Condos</a>
                    <a href="#" class="btn btn-default">New Construction</a>
                    <a href="#" class="btn btn-default">Vacant Land</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="md-heading text-center">
          <div class="container">
            <h2>Client Company Slogan or Text Will Go Here</h2>
            <p>Line 2 grabs input text from backend (phone/contact)</br>
              <a href="">www.linethreefrombackend.com</a></p>
          </div>
        </div>
		<div class="bottom-images"><img src="/assets/bottom-banner.jpg" alt="" class="img-responsive"> </div>
      </div>
        
      <div class="bottom-bg">
        <div class="container-fluid">
          <div class="white-background text-center border-height"></div>
          <ul class="bottom-menu">
            <li class="rate-section ">
              <div class="rate-section-inner"><a href="">Featured</br>
                <span>Listings</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Search</br>
                <span>the MLS</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Custom</br>
                <span>Search</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Interactive</br>
                <span>Map</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Mortgage</br>
                <span>Calculator</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner active"><a href="">Popular</br>
                <span>Searches</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">Sell</br>
                <span>Your Home</span></a></div>
            </li>
            <li class="rate-section">
              <div class="rate-section-inner"><a href="">About</br>
                <span>Us</span></a></div>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</div>

</body>
</html>